USE [ONEMUSIC]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 04/04/2021 7:41:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Password] [char](50) NULL,
	[Mail] [char](50) NULL,
 CONSTRAINT [PK__ACCOUNT__3214EC07220F5869] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALBUM]    Script Date: 04/04/2021 7:41:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALBUM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NULL,
	[NgayPH] [date] NULL,
	[ImageCore] [nvarchar](50) NULL,
	[YeuThich] [int] NULL,
 CONSTRAINT [PK__ALBUM__3214EC07E9411A8F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__ALBUM__3214EC06E07ECD58] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAIHAT]    Script Date: 04/04/2021 7:41:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIHAT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NULL,
	[NgayPH] [date] NULL,
	[ImageCore] [nvarchar](50) NULL,
	[YeuThich] [int] NULL,
	[IdAlbum] [int] NULL,
	[Audio] [nvarchar](50) NULL,
	[TheLoai] [nvarchar](50) NULL,
	[Lyrics] [nvarchar](4000) NULL,
	[NhacSi] [nvarchar](50) NULL,
	[QuocGia] [nvarchar](50) NULL,
	[CaSi] [nvarchar](50) NULL,
	[TrangThaiXoa] [int] NULL,
 CONSTRAINT [PK__BAIHAT__3214EC07C1C4C441] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__BAIHAT__3214EC06C623B4EF] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CASI]    Script Date: 04/04/2021 7:41:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[YeuThich] [int] NULL,
	[TieuSu] [nvarchar](4000) NULL,
	[HinhAnh] [nchar](50) NULL,
 CONSTRAINT [PK__CASI__3214EC0774B37391] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__CASI__3214EC06BF8D95AD] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAYLIST]    Script Date: 04/04/2021 7:41:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAYLIST](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaylistName] [nvarchar](50) NULL,
	[IdAccount] [int] NULL,
	[TrangThaiXoa] [int] NULL,
 CONSTRAINT [PK_PlayList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAYLIST_BH]    Script Date: 04/04/2021 7:41:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAYLIST_BH](
	[IdPlaylist] [int] NOT NULL,
	[IdBaiHat] [int] NOT NULL,
 CONSTRAINT [PK_PLAYLIST_BH] PRIMARY KEY CLUSTERED 
(
	[IdPlaylist] ASC,
	[IdBaiHat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRINHDIEN]    Script Date: 04/04/2021 7:41:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRINHDIEN](
	[IdCaSi] [int] NOT NULL,
	[IdBaiHat] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCaSi] ASC,
	[IdBaiHat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAIHAT] ADD  CONSTRAINT [DF_BAIHAT_TrangThaiXoa]  DEFAULT ((1)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[PLAYLIST] ADD  CONSTRAINT [DF_PLAYLIST_TrangThaiXoa]  DEFAULT ((1)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[BAIHAT]  WITH CHECK ADD  CONSTRAINT [FK__BAIHAT__IdTheLoa__4316F928] FOREIGN KEY([IdAlbum])
REFERENCES [dbo].[ALBUM] ([Id])
GO
ALTER TABLE [dbo].[BAIHAT] CHECK CONSTRAINT [FK__BAIHAT__IdTheLoa__4316F928]
GO
ALTER TABLE [dbo].[PLAYLIST]  WITH CHECK ADD  CONSTRAINT [FK_PlayList_Account] FOREIGN KEY([IdAccount])
REFERENCES [dbo].[ACCOUNT] ([Id])
GO
ALTER TABLE [dbo].[PLAYLIST] CHECK CONSTRAINT [FK_PlayList_Account]
GO
