<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
	   		http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Cấu hình interceptor --> 
	<mvc:interceptors>  
		<!-- Lọc tất cả các URL 
		<bean class="web.entity.LoginInterceptor" />	-->
		
	
		<!-- Chỉ lọc các URL theo path
		<mvc:interceptor>
			<mvc:mapping path="/home/**"/>
			<mvc:exclude-mapping path="/home/index.htm"/>
			<bean class="poly.interceptor.LoggerInterceptor" />
		</mvc:interceptor>
		 -->
		 
		 <mvc:interceptor>
			<mvc:mapping path="/logout.htm"/>
			<mvc:mapping path="/playlist.htm"/>
			<mvc:mapping path="/listplaylist.htm"/>
			<mvc:mapping path="/createplaylist.htm"/>
			<mvc:mapping path="/listplaylist.htm"/>
			<mvc:mapping path="/insert.htm"/>
			<mvc:mapping path="/insertplaylist.htm"/>
			<mvc:mapping path="/deletemusic.htm"/>
			<mvc:mapping path="/deleteplaylist.htm"/>

			<bean class="web.Interceptor.LoginInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/listnhac.htm"/>
			<mvc:mapping path="/insertnhac.htm"/>
			<mvc:mapping path="/updatenhac.htm"/>
			<mvc:mapping path="/deletenhac.htm"/>
			
			<mvc:mapping path="/listalbum.htm"/>
			<mvc:mapping path="/insertalbum.htm"/>
			<mvc:mapping path="/updatealbum.htm"/>
			<mvc:mapping path="/deletealbum.htm"/>
			<bean class="web.Interceptor.AdminInterceptor" />
		</mvc:interceptor>
		  
	</mvc:interceptors>

</beans>